**Descriptive Statistics**

In [1]:
import pandas as pd
df=pd.read_csv('C:\\Users\\atuly\\Documents\\DS_Practical\\stats.csv')
df

   Salary    Country
0  150000      India
1   50000   Pakistan
2  100000  Australia
3   80000     Africa
4  125000        USA

Measure of Central Tendancy

In [2]:
# Mean Salary
mean1=df['Salary'].mean()
mean1

101000.0

In [3]:
#Sum of Salaries
sum1=df['Salary'].sum()
sum1

505000

In [4]:
#Maximum Salary
max1=df['Salary'].max()
max1

150000

In [5]:
#Minimum Salary
min1=df['Salary'].min()
min1

50000

In [6]:
#Total count

count1=df['Salary'].count()
count1

5

In [7]:
#Median
median=df['Salary'].median()
median

100000.0

In [8]:
#Mode
mode1=df['Salary'].mode()
mode1

0     50000
1     80000
2    100000
3    125000
4    150000
Name: Salary, dtype: int64

In [9]:
countrywise_sum=df.groupby(['Country'])['Salary'].sum()
countrywise_sum

Country
Africa        80000
Australia    100000
India        150000
Pakistan      50000
USA          125000
Name: Salary, dtype: int64

In [10]:
countrywise_count=df.groupby(['Country']).count()
countrywise_count

           Salary
Country
Africa          1
Australia       1
India           1
Pakistan        1
USA             1

Measure of variability

In [11]:
#variance of salaries
var1=df['Salary'].var()
var1

1505000000.0

In [14]:
#standard deviation
std1=df['Salary'].std()
std1

38794.329482541645

Measure of Symmetry

In [17]:
skew1=df.skew(axis=0, skipna=True)
skew1

TypeError: could not convert string to float: 'India'

In [18]:
#The skewness is positive so x will have right side tail.
df.describe()

              Salary
count       5.000000
mean   101000.000000
std     38794.329483
min     50000.000000
25%     80000.000000
50%    100000.000000
75%    125000.000000
max    150000.000000